.topbar {
  padding: 15px;
  padding-left: 25px;
  border-bottom: 1px solid rgb(201, 201, 201);
  user-select: none;
}

.header {
  margin: 0;
}

.subheader {
  margin: 0;
  color: rgb(134, 134, 134);
}
